
<% if (!user_id) { %>
<form action="/login" method="GET" class="text-form header-text">
  <input class="button" type="submit" value="Login">
</form>
<form action="/register" method="GET" class="text-form header-text">
  <input class="button" type="submit" value="Register">
</form>
<% } else { %>
<form action="/logout" method="POST" class="text-form header-text">
  <label class="text-input" for="Logout">Logged in as <%= user.email %></label>
  <input class="button" type="submit" value="Logout">
</form>
<% } %>