<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/_head %>
  </head>

  <body>
    <table>
      <tr><th>Shortened URLs</th></tr>
      <tr><td><%= shortURL %> - <%= urls[shortURL] %></td></tr>
    </table>
  </body>
</html>