<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/_head %>
  </head>

  <body style="font-size:20px; padding:50px;">
    <p><a href="/urls/new">Shorten a new URL</a></p>
    <table>
      <tr><th>Shortened URLs</th></tr>
      <% for (let url in urls) { %>
        <tr><td><a href="u/<%= url %>"><%= url %></a> - <%= urls[url] %></td></tr>
      <% }; %>
    </table>

  </body>
</html>