<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/_head %>
  </head>

  <body>
    <div id="wrapper">
      <h1>New URL</h1>
      <form action="/urls/new" method="POST" class="text-form">
        <label class="text-input" for="longURL">Enter a URL:</label>
        <input class="text-input" id="longURL" type="text" name="longURL" placeholder="http://www.example.ca">
        <input class="button" type="submit" value="Submit">
      </form>
      <% include partials/_header %>
    </div>
  </body>
</html>