<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/_head %>
  </head>

  <body>
    <div id="wrapper">
      <% include partials/_header %>
      <table>
        <tr><th colspan="2">Shortened URL</th></tr>
        <tr>
          <td><a href="u/<%= shortURL %>"><%= shortURL %></a></td>
          <td><%= urls[shortURL] %></td>
        </tr>
      </table>
    </div>
  </body>
</html>