<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/_head %>
  </head>

  <body>
    <div id="wrapper">
      <h1>Bad Request</h1>
      <hr>
      <p>Your request could not be completed. Please try again.</p>
      <p><a href="/urls">Back to URLs</a></p>
    </div>
  </body>

</html>