<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/_head %>
  </head>

  <body>
    <div id="wrapper">
      <h1>TinyApp</h1>
      <h2>A URL Shortener</h2>
      <p><a href="/urls/new">Shorten a new URL</a></p>
      <table>
        <tr><th colspan="3">Shortened URLs</th></tr>
        <% for (let url in urls) { %>
          <tr>
            <td><a href="u/<%= url %>"><%= url %></a></td>
            <td><%= urls[url] %></td>
            <td><form method="POST" action="/urls/<%= url %>/delete"><input class="delete" type="submit" value="Delete"></input></form></td>
          </tr>
        <% }; %>
      </table>
    </div>
  </body>
</html>